.clearfix:after {
	content: '';
	clear: both;
	display: table;
	overflow: hidden;
}
.menu-base-text-style {
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #868686;
	letter-spacing: 0px;
}
.menu-base-text-style:hover {
	color: white;
	background-color: #ffbb42;
	border-radius: 2px;
}
.title-main {
	color: white;
	/* line-height: 24px; */
	font-family: 'Gothambold';
	font-size: 35px;
	font-weight: 900;
	text-transform: uppercase;
}
.title-main-text {
	color: white;
	line-height: 24px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
}
.heder-forma__items-text {
	color: darkgrey;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 400;
}
.button-text {
	color: white;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	vertical-align: middle;
}
.title-all {
	color: #394b50;
	font-family: 'Gothambold';
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
}
.title-all-text {
	color: #394b50;
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}
.our-services__cols--text-title {
	color: #394b50;
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}
.our-services__cols--text-text {
	color: #7b7b7b;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 13px;
}