.contaner {
	max-width: 1170px;
	margin: 0 auto;
	height: auto;
	text-align: center;
}
header {
	background-color: white;
	line-height: 48px;
	padding: 22px 0;
}
.logo {
	vertical-align: middle;
	display: inline-block;
	float: left;
	width: 50px;
}
.menu {
	float: right;
	vertical-align: middle;
	font-size: 0;
}
.menu ul li {
	vertical-align: middle;
	line-height: 34px;
}
.menu-items {
	display: inline-block;
	padding: 0 21px;
}
.header-top {
	background-color: #709dca;
	padding-top: 110px;
	padding-bottom: 280px;
	position: relative;
	margin-bottom: -61px;
}
.heder-forma {
	margin: 25px 0 60px;
	display: inline-block;
	font-size: 0;
}
.heder-forma-bloks {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.heder-forma-bloks label i {
	position: absolute;
	top: 21px;
    left: 20px;
    cursor: text;
    color: #6e6e6e;
	font-size: 15px;
}
.heder-forma__items {
    width: 281px;
	height: 46px;
	background-color: white;
	border-radius: 2px 1px 1px 2px;
	margin: 5px;
	padding-left: 41px;
    box-sizing: border-box;
    z-index: 1;
}
.button {
	width: 211px;
	height: 46px;
	background-color: #ffbb42;
	border-radius: 2px;
	display: inline-block;
	line-height: 46px;
	margin: 5px;
}
.button:hover {
    background-color: #ebb023;
}
.header-top__slider {
	position: absolute;
	/* bottom: 0; */
	left: 0;
	right: 0;
	margin-bottom: -61px;
}
.header-top__slider-telik {
	width: 647px;
	height: 343px;
	background-image: url("../pic/telik.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	margin: 0 auto;
}
.header-top__slider-telik--ekran {
	width: 445px;
	height: 264px;
	background-color: #475459;
    width: 444px;
	height: 262px;
	display: inline-block;
	margin-top: 18px;
	margin-left: 3px;
    
}
.our-services {
	padding-top: 200px;
	padding-bottom: 50px;
}
.col-2 {
	max-width: 1230px;
	margin: 0 -30px;
	padding-top: 90px;
}
.our-services__cols {
	display: inline-block;
	position: relative;
	margin: 0 30px 80px;
	width: 552px;
	vertical-align: top;
}
.our-services__cols--text {
	float: left;
	margin-left: 80px;
	text-align: left; 
}
.our-services__cols--icon {
	float: left;
	position: absolute;
	left: 0;
}
	.our-services__cols--icon-clock {
		width: 43px;
		height: auto;
	}
	.our-services__cols--icon-bearing {
		width: 43px;
		height: auto;
	}
	.our-services__cols--icon-cap {
		width: 58px;
		height: auto;
	}
	.our-services__cols--icon-rocket {
		width: 46px;
		height: auto;
	}
	.our-services__cols--icon-circle {
		width: 43px;
		height: auto;
	}
	.our-services__cols--icon-dolar {
		width: 27px;
		height: auto;
	}
.owl-pagination {
	margin-top: 80px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
/* .owl-page {
	width: 15px;
	height: 15px;
	border: 2px solid #dedfe0;
    border-radius: 50%;
} */

.about-us {
	min-height: 623px;
	background-color: #ffc155;
	position: relative;
	text-align: right;
}
.about-us__picture {
	width: 50%;
	top: 0;
	bottom: 0;
	background-image: url("../img/about-us-picture.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: absolute;
	
}
.about-us__info	{
	padding: 164px 0 174px;
	width: 50%;
	text-align: left;
	float: right;
}
.about-us__info-contaner {
	padding-left: 80px;
}
.about-us__info--button {
	width: 145px;
	height: 46px;
	border: 1px solid #e7ad48;
	border-radius: 2px;
	line-height: 46px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}
.about-us__info--button:hover {
	border: 3px solid #e7ad48;
	line-height: 42px;
}	

/* Choos your price */

.price {
	background-color: #e7edf3;
	padding-top: 135px;
	padding-bottom: 164px;
}
.price__contaner {
	margin-top: 47px;
	font-size: 0;
	display: inline-block;
	
}
.price__contaner__item-basic-gold {
	width: 391px;
	background-color: white;
	border: 1px solid #ccd5df;
	border-radius: 3px;
	display: inline-block;
	box-sizing: border-box;
	padding: 57px 31px 48px 31px;
	z-index: 1;
	vertical-align: middle;
}
.price__contaner__item-premium {
	width: 394px;
	background-color: #709dca;
	border-radius: 3px;
	display: inline-block;
	box-sizing: border-box;
	padding: 87px 32px 78px 32px;
	margin: 0 -3px;
	z-index: 3;
	vertical-align: middle;
}
.price__contaner--button {
	width: 131px;
	height: 42px;
	background-color: #ffbb42;
	border-radius: 2px;
	color: white;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 42px;
	display: inline-block;
}
.price__contaner--button:hover {
    background-color: #ebb023;
}